html{

}

body {
  background-image: url("../images/");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin-left: 3%;
}

.container {
  margin: 0 15% 0 5%;
}

img {
  float: right;
}

p {
  font-size: 20px;
}

.intro {
  max-width: 50%;
  margin-left: 6%;
}

img.intro {
  width: 40%;
}

.classy {
  font-family: monospace;
}

.list {
  margin: 10% 35% 10% 5%;
  text-align: left;
  font-size: 16px;
}

.contact {
  text-align: center;
}
